extends layout

block content
    div(class='profileGrid')
        div(class='profileTools')
            h3 Profile Options
            div.buttons
                a(href='/createProduct')
                    button(class='productButton btn btn-primary btn-block' id='productCreateButton') Create Product   
                button(class='productButton btn btn-primary btn-block' id='productEditButton') Edit Product
                button(class='productButton btn btn-primary btn-block' id='myProductsButton') My Products
                a(href='/users/logout')
                    button(class='productButton btn btn-primary btn-block' id='profileLogoutButton') Logout
        div(class='userProducts')
            if products.length == 0
                p You don't have any Products...
                p Click Create Product to Start
            else
                each val in products
                    div.product
                        h1=val.title
                        div(class='content')
                            - var pic= val.img
                            img(src=pic, alt="Your Browser Doesn't Support Our Image, Sorry.")
                            p.productPart Sold By: #{val.seller}
                            p.productPart Price: $#{val.price}
                            p.productPart Description: #{val.description}
                            span.productPart Rating: #{val.rating}/5
                            //want to do a star icon based on rating

                    script(src="./javascripts/createProduct.js")